<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bbj.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".view.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/weather_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/weather_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.ForecastApp">
        <activity
            android:name=".view.CityListActivity"
            android:exported="false" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>